<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>Image Upload Form</title>

  <!-- Last compiled and minified CSS -->
  <link crossorigin="anonymous"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

  <!-- Last compiled and minified JQuery -->
  <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>

  <!-- Last compiled and minified JavaScript -->
  <script crossorigin="anonymous"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          th:href="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</head>
<body>
  <div class="container" style="margin-top: 20px">
    <div class="card">
      <div class="card-header bg-info text-light">
        <h1 class="card-title h3">Upload a new recipe image</h1>
      </div>
      <div class="card-body">
        <div class="col-md-5">
          <form action="http:\\localhost" enctype="multipart/form-data" method="post"
                th:action="@{'/recipe/' + ${recipe.id} + '/image'}">
            <label class="control-label">Select File</label>
            <input class="file" id="imagefile" name="imagefile" type="file">
            <button class="btn btn-primary" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
