<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8"/>
    <title>Recipe Form</title>

    <!-- Last compiled and minified CSS -->
    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">

    <!-- Last compiled and minified JQuery -->
    <script src="/webjars/jquery/3.0.0/jquery.min.js"></script>

    <!-- Last compiled and minified JavaScript -->
    <script crossorigin="anonymous"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            th:href="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
  </head>
  <body>
    <div class="container" style="margin-top: 20px">
      <form method="post" th:action="@{/recipe/saveOrUpdate}" th:object="${recipe}">
        <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
          <p>Please Correct Errors Below</p>
        </div>

        <div class="card">
          <div class="card-header bg-info text-light">
            <h1 class="card-title h3">Edit Recipe Information</h1>
          </div>
          <div class="card-body">
            <input th:field="*{id}" type="hidden"/>

            <div class="row">
              <div class="col-md-3 form-group"
                   th:class="${#fields.hasErrors('description')}
                 ? 'col-md-3 form-group is-invalid' : 'col-md-3 form-group'">
                <label for="desc">Recipe Description:</label>
                <input class="form-control" id="desc" th:errorclass="is-invalid"
                       th:field="*{description}"
                       type="text"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('description')}">
                  <ul>
                    <li th:each="err : ${#fields.errors('description')}"
                        th:text="${err}">Error
                    </li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 form-group">
                <label>Categories:</label>
              </div>
              <div class="col-md-9 form-group">
                <div class="radio">
                  <label>
                    <input type="checkbox" value=""/>
                    Cat 1
                  </label>
                </div>
                <div class="radio" th:remove="all">
                  <label>
                    <input type="checkbox" value=""/>
                    Cat 2
                  </label>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 form-group" th:class="${#fields.hasErrors('prepTime')}
                 ? 'col-md-3 form-group is-invalid' : 'col-md-3 form-group'">
                <label>Prep Time:</label>
                <input class="form-control" th:errorclass="is-invalid" th:field="*{prepTime}"
                       type="text">
                <div class="invalid-feedback" th:if="${#fields.hasErrors('prepTime')}">
                  <ul>
                    <li th:each="err : ${#fields.errors('prepTime')}" th:text="${err}">Error</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 form-group" th:class="${#fields.hasErrors('cookTime')}
                 ? 'col-md-3 form-group is-invalid' : 'col-md-3 form-group'">
                <label>Cooktime:</label>
                <input class="form-control" th:errorclass="is-invalid" th:field="*{cookTime}"
                       type="text"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('cookTime')}">
                  <ul>
                    <li th:each="err : ${#fields.errors('cookTime')}" th:text="${err}">Error</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 form-group">
                <label>Difficulty:</label>
                <select class="form-control" th:field="*{difficulty}">
                  <option
                      th:each="value : ${T(guru.springframework.domain.Difficulty).values()}"
                      th:text="${value.name()}"
                      th:value="${value.name()}">EASY
                  </option>
                </select>
                <select class="form-control" th:remove="all">
                  <option>Easy</option>
                  <option>Medium</option>
                  <option>Hard</option>
                </select>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3 form-group" th:class="${#fields.hasErrors('servings')}
                 ? 'col-md-3 form-group is-invalid' : 'col-md-3 form-group'">
                <label>Servings:</label>
                <input class="form-control" th:errorclass="is-invalid" th:field="*{servings}"
                       type="text"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('servings')}">
                  <ul>
                    <li th:each="err : ${#fields.errors('servings')}" th:text="${err}">Error</li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 form-group">
                <label>Source:</label>
                <input class="form-control" th:errorclass="is-invalid" th:field="*{source}"
                       type="text"/>
              </div>
              <div class="col-md-3 form-group" th:class="${#fields.hasErrors('url')}
                 ? 'col-md-3 form-group is-invalid' : 'col-md-3 form-group'">
                <label>URL:</label>
                <input class="form-control" th:errorclass="is-invalid" th:field="*{url}"
                       type="text"/>
                <div class="invalid-feedback" th:if="${#fields.hasErrors('url')}">
                  <ul>
                    <li th:each="err : ${#fields.errors('url')}" th:text="${err}">Error</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="card">
          <div class="card-header bg-info text-light">
            <div class="row">
              <div class="col-md-11">
                <h1 class="card-title h3">Ingredients</h1>
              </div>
              <a class="btn btn-info col-md-1" href="#">Edit</a>
            </div>
          </div>
          <div class="card-body">
            <ul>
              <li th:remove="all">1 Cup of milk</li>
              <li th:remove="all">1 Teaspoon of chocolate</li>
              <li th:each="ingredient : ${recipe.ingredients}"
                  th:text="${(ingredient.getAmount() +
                                        ' ' + ingredient.unitOfMeasure.getDescription() +
                                        ' - ' + ingredient.getDescription())}">1 Teaspoon of Sugar
              </li>
            </ul>
          </div>
        </div>

        <div class="card">
          <div class="card-header bg-info text-light">
            <h1 class="card-title h3">Directions</h1>
          </div>
          <div class="card-body" th:class="${#fields.hasErrors('directions')}
                 ? 'col-md-3 form-group is-invalid' : 'col-md-3 form-group'">
          <textarea class="form-control" rows="3" th:errorclass="is-invalid"
                    th:field="*{directions}"></textarea>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('directions')}">
              <ul>
                <li th:each="err : ${#fields.errors('directions')}" th:text="${err}">Error</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header bg-info text-light">
            <h1 class="card-title h3">Notes</h1>
          </div>
          <div class="card-body">
            <input th:field="*{notes.id}" type="hidden"/>
            <textarea class="form-control" rows="3"
                      th:field="*{notes.recipeNotes}"></textarea>
          </div>
        </div>

        <button class="btn btn-primary" type="submit">Submit</button>

      </form>
    </div>
  </body>
</html>
